@use "sass/reset"

// PALETTE
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// ASSETS
$paper-texture: url("./cream-paper.png")

// FUNCTIONS
@function texture-gradient($texture, $colors)
    @return $texture, linear-gradient(to bottom right, $colors)

@function paper-gradient($colors)
    @return texture-gradient($paper-texture, $colors)

body
    background: $paper-texture beige
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    // align-content: center

button
    padding: $spacing-small

// MAIN
main
    padding: $spacing-medium
    display: flex
    align-items: center
    gap: $spacing-medium
    background: paper-gradient((red, orange))

    *
        flex: 1

// ANIMAL
.animal
    .name
        transition: transform 100ms ease-in

    &.interact
        .name
            transform: translateX(1rem)
