$color1: rgb(30, 105, 123)
$color2: rgb(133, 185, 171)
$color3: rgb(253, 178, 90)
$color4: rgb(253, 107, 95)
$color5: rgb(183, 56, 101)

@function shadow-offset($offset, $color)
    @return 0rem 0rem 0rem $offset $color

@function shadow-step($step, $color)
    @return shadow-offset($step * 0.5rem, $color)

@mixin rainbow-border($margin, $border-radius)
    &:nth-child(odd)
        border-right: none
        margin-left: $margin
        border-radius: $border-radius 0rem 0rem $border-radius
        box-shadow: shadow-step(1, $color1), shadow-step(2, $color2)

    &:nth-child(even)
        border-left: none
        margin-right: $margin
        border-radius: 0rem $border-radius $border-radius 0rem
        box-shadow: shadow-step(1, $color5), shadow-step(2, $color4)
