$paper-texture: url("/assets/cream-paper.png")

@use "paper"
@use "reset"
@use "palette"

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap')

// GRADIENTS
@function red-gradient()
    @return paper.gradient($paper-texture, (red, orange))

@function cyan-gradient()
    @return paper.gradient($paper-texture, (rgb(81, 187, 205), rgb(255, 131, 253)))

.red-background
    background: red-gradient()
.cyan-background
    background: cyan-gradient()

// MAIN
main
    background: paper.solid-color($paper-texture, palette.$secondary-color)
    min-height: 100vh
    font-family: Arial, Helvetica, sans-serif
    color: palette.$primary-color
    display: flex
    flex-direction: column

.emoji
    filter: saturate(90%) sepia(20%)

.location
    padding: palette.$spacing-medium
    min-height: 17rem
    display: flex
    align-items: center
    justify-content: center
    gap: palette.$spacing-large
    &>div
        flex: 1 1 0

.animal
    background: paper.solid-color($paper-texture, palette.$secondary-color)
    padding: palette.$spacing-medium
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15)
    height: 7rem
    p
        transition: transform 200ms
    &>.action
        transform: translateX(0.5rem)

.resource-container
    display: flex
    flex-direction: column

    .loot
        transition: opacity 200ms
        opacity: 1
        display: flex
        flex-direction: column
        gap: palette.$spacing-small
        flex: auto
    .no-loot
        opacity: 0
    .loot-list
        display: flex
        overflow-x: scroll
        gap: palette.$spacing-small
        padding-bottom: palette.$spacing-small
    .loot-button
        line-height: 0
        font-size: 1rem
        padding: 1rem
        color: palette.$primary-color
        background: paper.solid-color($paper-texture, palette.$secondary-color)
        box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15)
        border: none
        outline: none
        // padding: palette.$spacing-small
        border-radius: 9999rem
        box-shadow: 0rem 0.15rem 0rem 0rem rgb(104, 198, 104), 0rem 0.3rem 0rem 0rem rgb(165, 83, 206), 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15)
    .regrow-button
        color: palette.$primary-color
        background: paper.solid-color($paper-texture, palette.$secondary-color)
        border: none
        outline: none
        padding: palette.$spacing-small
        border-radius: 9999rem
        box-shadow: 0rem 0.15rem 0rem 0rem rgb(104, 198, 104), 0rem 0.3rem 0rem 0rem rgb(165, 83, 206), 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15)

    .resource
        transition: transform 200ms, opacity 200ms
        display: flex
        justify-content: center
        .resource-icon
            font-size: 5rem
        &.evade
            opacity: 0.8
        &.hit
            transform: translateX(0.5rem) rotate(15deg)
            opacity: 0
        &.exhausted
            display: none

.inventory
    display: flex
    flex-direction: column
    gap: palette.$spacing-medium
    align-items: center
    h3
        font-family: 'Chango', cursive
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
        text-align: center
        font-size: 2rem
        font-weight: 900
    .item-stacks
        display: flex
        gap: palette.$spacing-medium
    .item-stack
        position: relative
    .item-icon
        font-size: 2rem
        line-height: 1.5rem
        padding: palette.$spacing-small
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
    .item-amount
        font-size: 0.7rem
        font-weight: 500
        line-height: 0rem
        position: absolute
        bottom: -0.3rem
        background: palette.$secondary-color
        color: palette.$primary-color
        box-shadow: 0rem 0.15rem 0rem rgb(254, 104, 189)
        padding: 0.5rem 0.3rem
        border-radius: 9999rem
