$paper-texture: url("/assets/cream-paper.png")
$dark-paper-texture: url("/assets/black-paper.png")

@use "paper"
@use "reset"
@use "palette"

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap')

// GRADIENTS
@function red-gradient()
    @return paper.gradient($paper-texture, (red, rgb(255, 53, 114)))

@function cyan-gradient()
    @return paper.gradient($paper-texture, (rgb(81, 187, 205), rgb(255, 131, 253)))

@mixin outline-filter()
    &::before
        position: absolute
        z-index: -1
        content: attr(title)
        transform: scale(1.2)
        filter: brightness(20)

.red-background
    background: red-gradient()
.cyan-background
    background: cyan-gradient()

// MAIN
main
    background: paper.solid-color($paper-texture, beige)
    min-height: 100vh
    font-family: Arial, Helvetica, sans-serif
    color: palette.$primary-color
    display: flex
    flex-direction: column
    touch-action: manipulation

.emoji
    filter: saturate(90%) sepia(20%)

.area
    padding: palette.$spacing-medium
    h1
        text-align: center
        font-size: 3rem
        line-height: 5rem
        font-family: 'Chango', cursive
    .red
        // background: paper.gradient($paper-texture, (rgb(255, 0, 0), rgb(255, 181, 53)))
        // background-clip: text
        // color: transparent
        color: rgb(255, 232, 192)
        text-shadow: 0rem 0.2rem 0rem rgb(255, 0, 0), 0rem 0.4rem 0rem rgb(153, 0, 255), 0rem 0.6rem 0rem rgb(255, 183, 0), 0rem 0.6rem 0.5rem rgb(48, 48, 48)
    .cyan
        // background: paper.gradient($paper-texture, (rgb(195, 0, 255), rgb(53, 255, 252)))
        // background-clip: text
        // color: transparent
        color: rgb(51, 60, 63)
        text-shadow: 0rem 0.2rem 0rem rgb(255, 0, 0), 0rem 0.4rem 0rem rgb(153, 0, 255), 0rem 0.6rem 0rem rgb(255, 183, 0), 0rem 0.6rem 0.5rem rgb(48, 48, 48)
    &.dark
        background: paper.solid-color($dark-paper-texture, #1c2125)

.location
    position: relative
    padding: palette.$spacing-medium
    min-height: 17rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: palette.$spacing-large

.animal-v-resource
    display: flex
    gap: palette.$spacing-large

.animal
    p
        transition: transform 200ms
        transform-origin: bottom center
        font-size: 5rem
        text-align: center
        // @include outline-filter()
        text-shadow: 0rem 0.3rem 0rem beige
    &.action p
        transform: translateX(0.5rem) rotate(4deg)

@keyframes flash-in
    0%
        opacity: 0
        text-shadow: 0rem 0rem 0rem white

    100%
        opacity: 1
        text-shadow: 0rem 0rem 3rem white

.resource
    display: flex
    justify-content: center
    transform-origin: bottom center
    // box-shadow: 0rem 0.2rem 0rem 0rem rgb(122, 120, 100), 0.2rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.4)
    // background: beige
    // border-radius: 9999rem
    .resource-icon
        transition: transform 200ms, opacity 200ms, filter 200ms, text-shadow 200ms
        font-size: 5rem
        line-height: 3rem
        // text-shadow: 0rem -0.3rem 0rem beige
        @include outline-filter()

    &.evade .resource-icon
        transform: rotate(5deg)
    &.hit .resource-icon
        transform: translateX(0.5rem) rotate(15deg)
        opacity: 0
    &.exhausted .resource-icon
        opacity: 0
        transform: scale(0)
    &.growing .resource-icon
        transform: scale(0.8)
    &.regrown .resource-icon
        transform: scale(1.1)
        filter: brightness(100)
        text-shadow: 0rem 0rem 2rem palette.$secondary-color

.loot
    transition: opacity 200ms
    opacity: 1
    display: flex
    flex-direction: column
    gap: palette.$spacing-small
    flex: auto
.no-loot
    opacity: 0
.loot-list
    height: 3rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: palette.$spacing-small
    padding-bottom: palette.$spacing-small
.loot-button
    line-height: 0
    font-size: 1rem
    padding: 1rem
    color: palette.$primary-color
    background: paper.solid-color($paper-texture, palette.$secondary-color)
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15)
    border: none
    outline: none
        // padding: palette.$spacing-small
    border-radius: 9999rem
    box-shadow: 0rem 0.15rem 0rem 0rem rgb(104, 198, 104), 0rem 0.3rem 0rem 0rem rgb(165, 83, 206), 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15)

.inventory
    display: flex
    flex-direction: column
    gap: palette.$spacing-medium
    align-items: center
    h3
        // font-family: 'Chango', cursive
        // text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
        text-align: center
        font-size: 1.5rem
        // font-weight: 900
    .item-stacks
        display: flex
        gap: palette.$spacing-medium
    .item-stack
        position: relative
    .item-icon
        font-size: 2rem
        line-height: 1.5rem
        padding: palette.$spacing-small
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
    .item-amount
        font-size: 0.7rem
        font-weight: 500
        line-height: 0rem
        position: absolute
        bottom: -0.3rem
        background: palette.$secondary-color
        color: palette.$primary-color
        box-shadow: 0rem 0.15rem 0rem rgb(254, 104, 189)
        padding: 0.5rem 0.3rem
        border-radius: 9999rem
