$paper-texture: url("/assets/cream-paper.png")

@use "paper"
@use "reset"
@use "palette"

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap')

// GRADIENTS
@function red-gradient()
    @return paper.gradient($paper-texture, (red, rgb(255, 53, 114)))

@function cyan-gradient()
    @return paper.gradient($paper-texture, (rgb(81, 187, 205), rgb(255, 131, 253)))

.red-background
    background: red-gradient()
.cyan-background
    background: cyan-gradient()

// MAIN
main
    background: paper.solid-color($paper-texture, beige)
    min-height: 100vh
    font-family: Arial, Helvetica, sans-serif
    color: palette.$primary-color
    display: flex
    flex-direction: column
    touch-action: manipulation

.emoji
    filter: saturate(90%) sepia(20%)

.location
    position: relative
    padding: palette.$spacing-medium
    min-height: 17rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: palette.$spacing-large

.animal-v-resource
    display: flex
    gap: palette.$spacing-medium

@keyframes wiggle
    0%
        transform: rotate(0deg)
    30%
        transform: rotate(-3deg)
    70%
        transform: rotate(4deg)
    100%
        transform: rotate(0deg)

.animal
    p
        transition: transform 200ms
        transform-origin: bottom center
        font-size: 5rem
        text-align: center
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
    &.idle p
        animation: wiggle 2000ms ease-in-out infinite
    &.action p
        transform: translateX(0.5rem) rotate(4deg)

.resource
    transition: transform 200ms, opacity 200ms
    display: flex
    justify-content: center
    transform-origin: bottom center
    .resource-icon
        font-size: 5rem
    &.evade
        transform: rotate(5deg)
    &.hit
        transform: translateX(0.5rem) rotate(15deg)
        opacity: 0
    &.exhausted
        opacity: 0
    &.growing .resource-icon
        transform-origin: bottom center
        transform: scale(0.5)

.loot
    transition: opacity 200ms
    opacity: 1
    display: flex
    flex-direction: column
    gap: palette.$spacing-small
    flex: auto
.no-loot
    opacity: 0
.loot-list
    height: 3rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: palette.$spacing-small
    padding-bottom: palette.$spacing-small
.loot-button
    line-height: 0
    font-size: 1rem
    padding: 1rem
    color: palette.$primary-color
    background: paper.solid-color($paper-texture, palette.$secondary-color)
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15)
    border: none
    outline: none
        // padding: palette.$spacing-small
    border-radius: 9999rem
    box-shadow: 0rem 0.15rem 0rem 0rem rgb(104, 198, 104), 0rem 0.3rem 0rem 0rem rgb(165, 83, 206), 0.1rem 0.3rem 0.2rem rgba(0, 0, 0, 0.15)

.inventory
    display: flex
    flex-direction: column
    gap: palette.$spacing-medium
    align-items: center
    h3
        font-family: 'Chango', cursive
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
        text-align: center
        font-size: 2rem
        font-weight: 900
    .item-stacks
        display: flex
        gap: palette.$spacing-medium
    .item-stack
        position: relative
    .item-icon
        font-size: 2rem
        line-height: 1.5rem
        padding: palette.$spacing-small
        text-shadow: 0rem 0.15rem 0rem palette.$secondary-color, 0rem 0.3rem 0rem rgb(254, 104, 189)
    .item-amount
        font-size: 0.7rem
        font-weight: 500
        line-height: 0rem
        position: absolute
        bottom: -0.3rem
        background: palette.$secondary-color
        color: palette.$primary-color
        box-shadow: 0rem 0.15rem 0rem rgb(254, 104, 189)
        padding: 0.5rem 0.3rem
        border-radius: 9999rem
